.receipt-link {
    cursor: pointer;
    color: #007BFF;
}

.receipt-link:hover {
    text-decoration: underline;
    color:#0065d2;
}

.edit-reimbursement-button {
    width: 70px !important;
    color: white !important;
    background-color: #b44c70 !important;
    border: 1px solid #b8597b !important;
}

.edit-reimbursement-button:hover {
    color: white !important;
    background-color: #852647 !important;
    border: 1px solid #852647 !important;
    
}

.create-reimbursement-button {
    color: white !important;
    background-color: #b44c70 !important;
    border: 1px solid #b8597b !important;
    margin-bottom: 5px;
}

.create-reimbursement-button:hover {
    color: white !important;
    background-color: #852647 !important;
    border: 1px solid #852647 !important;
    
}

.thank-you-note {
    /* font-family: 'Unna', serif; */
    font-size: 1.1rem;
    color: rgb(104, 104, 104);
    border: 1px solid rgb(222, 222, 222);
    padding: 30px;
    margin: 10px;
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    border-radius: 6px;
    /* font-style: italic; */

}

.thank-you-note-header {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Unna', serif;
    color: rgb(94, 94, 94);
    font-style: normal;
}

