.layover {
	position: relative;
	align-items: center;
	width: 150px;
	height: 150px;
}

.profile_photo {
	position: absolute;
	z-index: 1;
	width: 150px;
	height: 150px;
	display: flex;
	border-radius: 50%;
}

.profile_upload {
	position: absolute;
	z-index: 2;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
}
.profile_upload:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

.profile_upload_icon {
	position: absolute;
	font-size: 4rem;
	color: rgb(96, 0, 0);
}

.profile_photo_upload {
	position: absolute;
	filter: blur(2px) brightness(0.9);
	/* -webkit-filter: blur(2px), brightness(0.4); */
	border-radius: 50%;
}
