.sr-combo-inputs {
	margin: 20px 0;
}

.sr_card_element {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.6rem 0.75rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	background-clip: padding-box;
}

.btn {
	font-size: 16px;
}
.sr_field_error {
	color: #fa755a;
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	margin: 12px;
}
